# Azure Functions dependencies
azure-functions

# Azure SDK dependencies
azure-identity
azure-keyvault-secrets
azure-search-documents==11.5.2
azure-storage-blob
azurefunctions-extensions-http-fastapi==1.0.1
azurefunctions-extensions-base==1.0.0b2

# Data handling and validation dependencies
jsonschema
python-dotenv
requests

# AI and NLP dependencies
tiktoken==0.7.0
langchain==0.0.329
openai==2.11.0

# Utilities
psutil
# Testing dependencies
pytest
pytest-asyncio

# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues
azure-ai-documentintelligence==1.0.0b4
Pillow
PyMuPDF